# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/

# Local testing files
files/sample.ipynb

# Editor & System Files
.vscode/
.idea/
.DS_Store
Thumbs.db
